.App {
  text-align: center;
  display: block;
  font-family: 'Baloo 2', cursive;
}

.Header {
  font-family: 'Kaushan Script', cursive;
  padding-top: 30px;
}

body{
  margin: 0;
  padding: 0;
  background-color:white;
}

.content {
  max-width: 90%;
  margin-left: 13%; 
  margin-right: 0;
  margin-bottom: 30px;
}

#map { position: relative;  width: 53rem; height: 40rem; }

/* Auth Box */
.box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  text-align: center;
  
}
.box h1{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10%;
}
.box .loginForm input[type = "text"],.box .loginForm input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box .loginForm input[type = "text"]:focus,.box .loginForm input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box .btn{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  text-transform: uppercase;
}
.box .btn:hover{
  background: #2ecc71;
}

.box .changeModeBtn{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 10%;
}

.changeModeBtn:hover{
  background: #3498db;
}

.textError {
  color: red;
}

label{
  color: black;
  margin-right: 3%;
}

.regisForm {
  display: block;
  width: 700px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  text-align: center;
}

.regisForm label {
  float: left;
}

.regisForm .btn {
  margin-top: 80px;
}

/* Sidebar */
.sidebar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 13%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px;
  -moz-box-shadow:    3px 0 10px 0 rgb(146, 146, 146);
  -webkit-box-shadow: 3px 0 10px 0 rgb(146, 146, 146);
  box-shadow:         3px 0 10px 0 rgb(146, 146, 146);
}


.sidebar button:hover{
  background-color: rgba(93, 93, 93, 1);
}

.sidebar svg {
  padding-bottom: 4px;
  padding-right: 10px;
}

.selectMenu{
  color: white;
}

.menu {
  margin-bottom: 30%;
}

/* Hostel Card Box */
.card{
  width: 18rem;
  height: 30rem;
  margin-left: 2rem;
  margin-top: 20%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -moz-box-shadow:    0px 10px 45px 0 rgb(146, 146, 146);
  -webkit-box-shadow: 0px 10px 45px 0 rgb(146, 146, 146);
  box-shadow:         0px 10px 45px 0 rgb(146, 146, 146);
}

.card-img-top {
  width: 286px;
  height: 200px;
}

.card p {
  color: #a8a8a8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card .bookingBadge {
  position: absolute;
  margin-left: 85%;
}

/* Booking list */
.table {
  margin-top: 5%;
}

.pointTR:hover{
  background-color: rgba(198, 198, 198, 1);
  cursor: pointer;
}

/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-left: 18rem;
  text-align: left;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.addHostelModal {
  float: right;
  margin-right: 7.5%;
}

.addHostelSubmit {
  width: 25%;
}

.editClose{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}